
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> FORMULARIO DE CURSOS </h1>

    {% if formulario.errors %}
        <p style="color: red"> HAY ALGO MAL EN EL FORMULARIO </p>
    {% endif %}

    <form action= " {url 'cursoFormulario' } " method="GET"> {% csrf_token %}
       
        <input type="number", name="comision" id="comision">
        


        <input type="submit", value="Buscar">


</form>
</body>
</html>
