{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mb-5"> PROFESORES </h1>

{% endblock %} 

{% block contenido_que_cambia %}

<h1> Editando el Profe: {{ nombre_profesor }} </h1>

{% if formulario.errors %}
    <p style="color: red"> HAY ALGO MAL EN EL FORMULARIO </p>
{% endif %}

<form action= "{% url 'editarProfesor' nombre_profesor %}" method="POST"> {% csrf_token %}
    <table> 

        {{ formulario.as_table }}

    </table>

    <input type="submit", value="Enviar">


</form>

{% endblock %}








   


