<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>RESULTADOS DE LA BUSQUEDA</h1>

    {% if cursos %}

    <ul>
        {% for curso in cursos %}
            <li>{{ curso.nombre }}</li>
            <li>{{ curso.comision }}</li>
            <br>
        {% endfor %}

    </ul>
    {% else %}
    <p>No hay cursos con esa descripcion</p>
    {% endif %}

    <p style="color:red">Error:No se ingreso ninguna comision</p> 


</body>
</html>